@font-face {
    font-family: 'Rational TW Text';
    src: url('RationalTWText-SemiBold.eot');
    src: local('Rational TW Text SemiBold'), local('RationalTWText-SemiBold'),
        url('RationalTWText-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('RationalTWText-SemiBold.woff2') format('woff2'),
        url('RationalTWText-SemiBold.woff') format('woff'),
        url('RationalTWText-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Rational TW Text';
    src: url('RationalTWText-ExtraLightItalic.eot');
    src: local('Rational TW Text ExtraLight Italic'), local('RationalTWText-ExtraLightItalic'),
        url('RationalTWText-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('RationalTWText-ExtraLightItalic.woff2') format('woff2'),
        url('RationalTWText-ExtraLightItalic.woff') format('woff'),
        url('RationalTWText-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Rational TW Text';
    src: url('RationalTWText-Thin.eot');
    src: local('Rational TW Text Thin'), local('RationalTWText-Thin'),
        url('RationalTWText-Thin.eot?#iefix') format('embedded-opentype'),
        url('RationalTWText-Thin.woff2') format('woff2'),
        url('RationalTWText-Thin.woff') format('woff'),
        url('RationalTWText-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Rational TW Display';
    src: url('RationalTWDisplay-Thin.eot');
    src: local('Rational TW Display Thin'), local('RationalTWDisplay-Thin'),
        url('RationalTWDisplay-Thin.eot?#iefix') format('embedded-opentype'),
        url('RationalTWDisplay-Thin.woff2') format('woff2'),
        url('RationalTWDisplay-Thin.woff') format('woff'),
        url('RationalTWDisplay-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Rational TW Display';
    src: url('RationalTWDisplay-ExtraLight.eot');
    src: local('Rational TW Display ExtraLight'), local('RationalTWDisplay-ExtraLight'),
        url('RationalTWDisplay-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('RationalTWDisplay-ExtraLight.woff2') format('woff2'),
        url('RationalTWDisplay-ExtraLight.woff') format('woff'),
        url('RationalTWDisplay-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Rational TW Display';
    src: url('RationalTWDisplay-ExtraBold.eot');
    src: local('Rational TW Display ExtraBold'), local('RationalTWDisplay-ExtraBold'),
        url('RationalTWDisplay-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('RationalTWDisplay-ExtraBold.woff2') format('woff2'),
        url('RationalTWDisplay-ExtraBold.woff') format('woff'),
        url('RationalTWDisplay-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Rational TW Display';
    src: url('RationalTWDisplay-ExtraLightItalic.eot');
    src: local('Rational TW Display ExtraLight Italic'), local('RationalTWDisplay-ExtraLightItalic'),
        url('RationalTWDisplay-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('RationalTWDisplay-ExtraLightItalic.woff2') format('woff2'),
        url('RationalTWDisplay-ExtraLightItalic.woff') format('woff'),
        url('RationalTWDisplay-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Rational TW Display Hairline';
    src: url('RationalTWDisplay-Hairline.eot');
    src: local('Rational TW Display Hairline'), local('RationalTWDisplay-Hairline'),
        url('RationalTWDisplay-Hairline.eot?#iefix') format('embedded-opentype'),
        url('RationalTWDisplay-Hairline.woff2') format('woff2'),
        url('RationalTWDisplay-Hairline.woff') format('woff'),
        url('RationalTWDisplay-Hairline.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rational TW Display';
    src: url('RationalTWDisplay-LightItalic.eot');
    src: local('Rational TW Display Light Italic'), local('RationalTWDisplay-LightItalic'),
        url('RationalTWDisplay-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('RationalTWDisplay-LightItalic.woff2') format('woff2'),
        url('RationalTWDisplay-LightItalic.woff') format('woff'),
        url('RationalTWDisplay-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Rational TW Text Hairline';
    src: url('RationalTWText-HairlineItalic.eot');
    src: local('Rational TW Text Hairline Italic'), local('RationalTWText-HairlineItalic'),
        url('RationalTWText-HairlineItalic.eot?#iefix') format('embedded-opentype'),
        url('RationalTWText-HairlineItalic.woff2') format('woff2'),
        url('RationalTWText-HairlineItalic.woff') format('woff'),
        url('RationalTWText-HairlineItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Rational TW Display Book';
    src: url('RationalTWDisplay-BoldItalic.eot');
    src: local('Rational TW Display Bold Italic'), local('RationalTWDisplay-BoldItalic'),
        url('RationalTWDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('RationalTWDisplay-BoldItalic.woff2') format('woff2'),
        url('RationalTWDisplay-BoldItalic.woff') format('woff'),
        url('RationalTWDisplay-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Rational TW Text Book';
    src: url('RationalTWText-Bold.eot');
    src: local('Rational TW Text Bold'), local('RationalTWText-Bold'),
        url('RationalTWText-Bold.eot?#iefix') format('embedded-opentype'),
        url('RationalTWText-Bold.woff2') format('woff2'),
        url('RationalTWText-Bold.woff') format('woff'),
        url('RationalTWText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Rational TW Display';
    src: url('RationalTWDisplay-Medium.eot');
    src: local('Rational TW Display Medium'), local('RationalTWDisplay-Medium'),
        url('RationalTWDisplay-Medium.eot?#iefix') format('embedded-opentype'),
        url('RationalTWDisplay-Medium.woff2') format('woff2'),
        url('RationalTWDisplay-Medium.woff') format('woff'),
        url('RationalTWDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Rational TW Text Book';
    src: url('RationalTWText-Book.eot');
    src: local('Rational TW Text Book'), local('RationalTWText-Book'),
        url('RationalTWText-Book.eot?#iefix') format('embedded-opentype'),
        url('RationalTWText-Book.woff2') format('woff2'),
        url('RationalTWText-Book.woff') format('woff'),
        url('RationalTWText-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rational TW Display Book';
    src: url('RationalTWDisplay-Bold.eot');
    src: local('Rational TW Display Bold'), local('RationalTWDisplay-Bold'),
        url('RationalTWDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('RationalTWDisplay-Bold.woff2') format('woff2'),
        url('RationalTWDisplay-Bold.woff') format('woff'),
        url('RationalTWDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Rational TW Text';
    src: url('RationalTWText-SemiBoldItalic.eot');
    src: local('Rational TW Text SemiBold Italic'), local('RationalTWText-SemiBoldItalic'),
        url('RationalTWText-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('RationalTWText-SemiBoldItalic.woff2') format('woff2'),
        url('RationalTWText-SemiBoldItalic.woff') format('woff'),
        url('RationalTWText-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Rational TW Display Book';
    src: url('RationalTWDisplay-BookItalic.eot');
    src: local('Rational TW Display Book Italic'), local('RationalTWDisplay-BookItalic'),
        url('RationalTWDisplay-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('RationalTWDisplay-BookItalic.woff2') format('woff2'),
        url('RationalTWDisplay-BookItalic.woff') format('woff'),
        url('RationalTWDisplay-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Rational TW Text Book';
    src: url('RationalTWText-BookItalic.eot');
    src: local('Rational TW Text Book Italic'), local('RationalTWText-BookItalic'),
        url('RationalTWText-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('RationalTWText-BookItalic.woff2') format('woff2'),
        url('RationalTWText-BookItalic.woff') format('woff'),
        url('RationalTWText-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Rational TW Text Book';
    src: url('RationalTWText-BoldItalic.eot');
    src: local('Rational TW Text Bold Italic'), local('RationalTWText-BoldItalic'),
        url('RationalTWText-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('RationalTWText-BoldItalic.woff2') format('woff2'),
        url('RationalTWText-BoldItalic.woff') format('woff'),
        url('RationalTWText-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Rational TW Text Hairline';
    src: url('RationalTWText-Hairline.eot');
    src: local('Rational TW Text Hairline'), local('RationalTWText-Hairline'),
        url('RationalTWText-Hairline.eot?#iefix') format('embedded-opentype'),
        url('RationalTWText-Hairline.woff2') format('woff2'),
        url('RationalTWText-Hairline.woff') format('woff'),
        url('RationalTWText-Hairline.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rational TW Display';
    src: url('RationalTWDisplay-SemiBoldItalic.eot');
    src: local('Rational TW Display SemiBold Italic'), local('RationalTWDisplay-SemiBoldItalic'),
        url('RationalTWDisplay-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('RationalTWDisplay-SemiBoldItalic.woff2') format('woff2'),
        url('RationalTWDisplay-SemiBoldItalic.woff') format('woff'),
        url('RationalTWDisplay-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Rational TW Text';
    src: url('RationalTWText-ThinItalic.eot');
    src: local('Rational TW Text Thin Italic'), local('RationalTWText-ThinItalic'),
        url('RationalTWText-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('RationalTWText-ThinItalic.woff2') format('woff2'),
        url('RationalTWText-ThinItalic.woff') format('woff'),
        url('RationalTWText-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Rational TW Display';
    src: url('RationalTWDisplay-ThinItalic.eot');
    src: local('Rational TW Display Thin Italic'), local('RationalTWDisplay-ThinItalic'),
        url('RationalTWDisplay-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('RationalTWDisplay-ThinItalic.woff2') format('woff2'),
        url('RationalTWDisplay-ThinItalic.woff') format('woff'),
        url('RationalTWDisplay-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Rational TW Display Book';
    src: url('RationalTWDisplay-Book.eot');
    src: local('Rational TW Display Book'), local('RationalTWDisplay-Book'),
        url('RationalTWDisplay-Book.eot?#iefix') format('embedded-opentype'),
        url('RationalTWDisplay-Book.woff2') format('woff2'),
        url('RationalTWDisplay-Book.woff') format('woff'),
        url('RationalTWDisplay-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rational TW Display';
    src: url('RationalTWDisplay-ExtraBoldItalic.eot');
    src: local('Rational TW Display ExtraBold Italic'), local('RationalTWDisplay-ExtraBoldItalic'),
        url('RationalTWDisplay-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('RationalTWDisplay-ExtraBoldItalic.woff2') format('woff2'),
        url('RationalTWDisplay-ExtraBoldItalic.woff') format('woff'),
        url('RationalTWDisplay-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Rational TW Text';
    src: url('RationalTWText-LightItalic.eot');
    src: local('Rational TW Text Light Italic'), local('RationalTWText-LightItalic'),
        url('RationalTWText-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('RationalTWText-LightItalic.woff2') format('woff2'),
        url('RationalTWText-LightItalic.woff') format('woff'),
        url('RationalTWText-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Rational TW Text';
    src: url('RationalTWText-ExtraBold.eot');
    src: local('Rational TW Text ExtraBold'), local('RationalTWText-ExtraBold'),
        url('RationalTWText-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('RationalTWText-ExtraBold.woff2') format('woff2'),
        url('RationalTWText-ExtraBold.woff') format('woff'),
        url('RationalTWText-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Rational TW Text';
    src: url('RationalTWText-Light.eot');
    src: local('Rational TW Text Light'), local('RationalTWText-Light'),
        url('RationalTWText-Light.eot?#iefix') format('embedded-opentype'),
        url('RationalTWText-Light.woff2') format('woff2'),
        url('RationalTWText-Light.woff') format('woff'),
        url('RationalTWText-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Rational TW Display';
    src: url('RationalTWDisplay-Light.eot');
    src: local('Rational TW Display Light'), local('RationalTWDisplay-Light'),
        url('RationalTWDisplay-Light.eot?#iefix') format('embedded-opentype'),
        url('RationalTWDisplay-Light.woff2') format('woff2'),
        url('RationalTWDisplay-Light.woff') format('woff'),
        url('RationalTWDisplay-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Rational TW Display';
    src: url('RationalTWDisplay-MediumItalic.eot');
    src: local('Rational TW Display Medium Italic'), local('RationalTWDisplay-MediumItalic'),
        url('RationalTWDisplay-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('RationalTWDisplay-MediumItalic.woff2') format('woff2'),
        url('RationalTWDisplay-MediumItalic.woff') format('woff'),
        url('RationalTWDisplay-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Rational TW Text';
    src: url('RationalTWText-MediumItalic.eot');
    src: local('Rational TW Text Medium Italic'), local('RationalTWText-MediumItalic'),
        url('RationalTWText-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('RationalTWText-MediumItalic.woff2') format('woff2'),
        url('RationalTWText-MediumItalic.woff') format('woff'),
        url('RationalTWText-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Rational TW Display';
    src: url('RationalTWDisplay-SemiBold.eot');
    src: local('Rational TW Display SemiBold'), local('RationalTWDisplay-SemiBold'),
        url('RationalTWDisplay-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('RationalTWDisplay-SemiBold.woff2') format('woff2'),
        url('RationalTWDisplay-SemiBold.woff') format('woff'),
        url('RationalTWDisplay-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Rational TW Display Hairline';
    src: url('RationalTWDisplay-HairlineItalic.eot');
    src: local('Rational TW Display Hairline Italic'), local('RationalTWDisplay-HairlineItalic'),
        url('RationalTWDisplay-HairlineItalic.eot?#iefix') format('embedded-opentype'),
        url('RationalTWDisplay-HairlineItalic.woff2') format('woff2'),
        url('RationalTWDisplay-HairlineItalic.woff') format('woff'),
        url('RationalTWDisplay-HairlineItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Rational TW Text';
    src: url('RationalTWText-ExtraLight.eot');
    src: local('Rational TW Text ExtraLight'), local('RationalTWText-ExtraLight'),
        url('RationalTWText-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('RationalTWText-ExtraLight.woff2') format('woff2'),
        url('RationalTWText-ExtraLight.woff') format('woff'),
        url('RationalTWText-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Rational TW Text';
    src: url('RationalTWText-Medium.eot');
    src: local('Rational TW Text Medium'), local('RationalTWText-Medium'),
        url('RationalTWText-Medium.eot?#iefix') format('embedded-opentype'),
        url('RationalTWText-Medium.woff2') format('woff2'),
        url('RationalTWText-Medium.woff') format('woff'),
        url('RationalTWText-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Rational TW Text';
    src: url('RationalTWText-ExtraBoldItalic.eot');
    src: local('Rational TW Text ExtraBold Italic'), local('RationalTWText-ExtraBoldItalic'),
        url('RationalTWText-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('RationalTWText-ExtraBoldItalic.woff2') format('woff2'),
        url('RationalTWText-ExtraBoldItalic.woff') format('woff'),
        url('RationalTWText-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

