html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Rational TW Text' ;
}

.navbar{
    padding-top: 16px ;
    padding-bottom: 12px ;
}
.transition{
    -webkit-transition: all  ease-in-out .15s;
    -moz-transition: all  ease-in-out .15s;
    -o-transition: all  ease-in-out .15s;
    transition: all  ease-in-out .15s;
  
}
.transition-slow{
    -webkit-transition: all  ease-in-out .45s;
    -moz-transition: all  ease-in-out .45s;
    -o-transition: all  ease-in-out .45s;
    transition: all  ease-in-out .45s;
  
}