<template >
  <div style="width: 100%; overflow-x: hidden">
    <div id="contato" class="contato overflow-hidden pb-4">
      <div class="bg-sec container-fluid">
        <div class="row parceria-row mr-md-5 px-md-5">
          <div class="col-lg-6 text-left">
            <div class="content-contact-holder ml-auto">
              <h1 class="text-left mb-80">{{title}}</h1>
              <div class="mb-40">
                <a :href="instagramLink" class="btn btn-social">
                  <img src="../assets/insta.png" alt="" />
                </a>
                <a :href="linkedinLink" class="btn btn-social">
                  <img src="../assets/linked.png" alt="" />
                </a>
                <a :href="facebookLink" class="btn btn-social">
                  <img src="../assets/face.png" alt="" />
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mt-2 px-md-0">
            <form v-if="!messageSent" id="email" @submit.prevent="onSubmit">
              <div class="form-group">
                <input
                  type="text"
                  v-model="nome"
                  class="form-control"
                  id="exampleFormControlInput1"
                  :placeholder="formName"
                />
              </div>
              <div class="form-group">
                <input
                  type="tel"
                  v-model="telefone"
                  v-mask="'(##) # ####-####'"
                  class="form-control"
                  id="exampleFormControlInput2"
                  :placeholder="formPhone"
                />
              </div>
              <div class="form-group">
                <input
                  type="email"
                  v-model="email"
                  class="form-control"
                  id="exampleFormControlInput3"
                  :placeholder="formEmail"
                />
              </div>
              <div class="form-group">
                <textarea
                  class="form-control"
                  v-model="mensagem"
                  id="exampleFormControlTextarea1"
                  :placeholder="formBody"
                  rows="6"
                ></textarea>
              </div>
              <button
                type="submit"
                class="btn btn-primary text-dark text-uppercase transition"
              >
                <span>{{sendBtn}}</span> <img src="../assets/plane.png" alt="" />
              </button>
            </form>
            <div class="text-center" v-if="messageSent">
              <h4 class="mt-5 pt-5 animate__animated animate__fadeIn">
                {{sentMessage}}
              </h4>
              <div class="sent-holder">
                <img
                  class="sent animate__animated animate__fadeInUp"
                  src="../assets/sent.png"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <Footer
        :copyright="legal.copyright"
        :termsBtn="legal.termsBtn"
        :policyBtn="legal.policyBtn"
        :termsUrl="legal.terms"
        :policyUrl="legal.policy"
      />
    </div>
  </div>
</template>

<script>
import { mask } from "vue-the-mask";
import Footer from "./Footer.vue";

export default {
  directives: { mask },
  name: "Contato",
  components: {
    Footer,
  },
  data() {
    return {
      nome: "",
      telefone: "",
      email: "",
      mensagem: "",
      messageSent: false,
    };
  },
  methods: {
    async onSubmit() {
      if (this.nome === "" || this.telefone === "" || this.email === null || this.mensagem === null) {
        return;
      }


      const sgMail = require("@sendgrid/mail");
      sgMail.setApiKey(process.env.VUE_APP_SENDGRID_API_KEY);

      const msg = {
        to: process.env.VUE_APP_SENDGRID_TO, // Change to your recipient
        from: process.env.VUE_APP_SENDGRID_FROM, // Change to your verified sender
        subject: "Nova mensagem de stayon.com.",
        text: "Você recebeu uma nova mensagem do seu site, segue abaixo o conteudo.",
        html: "teste",
      };

      sgMail
        .send(msg)
        .then(() => {
          console.log("Email sent");
          this.messageSent = true;
        })
        .catch((error) => {
          console.error(error);
        });

      console.log("working");
    },
  },
  props: {
    title: String,
    sendBtn: String,
    formName: String,
    formPhone: String,
    formEmail: String,
    formBody: String,
    sentMessage: String,
    legal: Object,
    instagramLink: String,
    linkedinLink: String,
    facebookLink: String,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.text-dark {
  color: #212945 !important;
}
h4 {
  font-size: 900;
  font-size: 30px;
  line-height: 35px;
  text-align: center;

  /* Highlight */

  color: #38cc78;
}
.sent-holder {
  bottom: -124px;
  position: relative;
  z-index: 1000;
  right: 50%;
}
.sent {
  position: absolute;
  transform: translateX(-50%);
  z-index: 1000;
  display: none;
  @include md {
    display: initial;
  }
}
.content-contact-holder {
  max-width: 857px;
}
.mb-40 {
  margin-bottom: 40px;
  @include lg {
    margin-bottom: 0;
  }
}
.mb-80 {
  margin-bottom: 40px;
  @include md {
    margin-bottom: 80px;
  }
}
.contato {
  position: relative;
  .form-control {
    padding: 25px 32px;
    background: #f0f0f0;
    border-radius: 20px;
  }
  input {
    font-size: 24px;
    line-height: 28px;
    /* Highlight */

    color: #212945;
    font-weight: 900;
    @include md {
      font-size: 30px;
      line-height: 35px;
    }
  }
  input::placeholder {
    color: #38cc78;
  }
  textarea {
    font-size: 24px;
    line-height: 28px;
    /* Highlight */

    color: #212945;
    font-weight: 900;
    @include md {
      font-size: 30px;
      line-height: 35px;
    }
  }
  textarea::placeholder {
    color: #38cc78;
  }
  .parceria-row {
    padding-top: 116px;
    padding-bottom: 142px;
  }
  .btn-primary {
    border: none;
    padding: 24px 40px;
    border-radius: 80px;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;

    font-weight: 900;
    color: #fff;
    background: #38cc78;
    span {
      padding-top: 10px;
    }
    @include md {
      span {
        padding-top: 0px;
      }
      font-size: 40px;
      line-height: 47px;
    }
  }
  .btn-primary:not(:disabled):not(.disabled).active,
  .btn-primary:not(:disabled):not(.disabled):active,
  .show > .btn-primary.dropdown-toggle {
    box-shadow: none;
  }
  @include md {
    .btn-primary:hover {
      padding: 28px 46px;
      font-size: 44px;
    }
  }

  .btn-social {
    border-radius: 50px;
    padding: 13px 13px;
  }
  .btn-social:hover {
    background: #2db16685;
  }
  .btn-primary.focus,
  .btn-primary:focus {
    background-color: #2db166;
    border-color: #2db166;
    box-shadow: none;
  }
  .btn-primary.active,
  .btn-primary:active {
    background-color: #2db166;
    border-color: #2db166;
    box-shadow: none;
  }

  .bg-sec {
    background: #212945;
  }

  h1 {
    font-size: 50px;
    line-height: 59px;
    font-weight: bold;
    /* white */

    color: #f0f0f0;
    @include md {
      font-size: 70px;
      line-height: 84px;
    }
  @include lg {
    font-size: 110px;
    line-height: 164px;
  }
  @include xxl {
    font-size: 140px;
    line-height: 164px;
  }
  }
  p {
    font-size: 24px;
    line-height: 28px;

    /* dark */

    color: #212945;
    max-width: 741px;
  }
}
</style>
