<template>
  <div style="width: 100%; overflow-x: hidden">
    <div id="download" class="downloads">
      <div class="download-hero container-fluid p-0 position-relative">
        <div class="text text-center pt-5">
          <h1 v-html="title"></h1>
        </div>
        <div class="btns-fix text-center">
          <a :href="androidLink" target="_blank" class="btn btn-primary mx-auto text-uppercase mb-3 ">
            <img src="../assets/android.png" class="pr-3" alt="" />
            <span>android</span></a><br />
          <a :href="iphoneLink" target="_blank"  class="btn btn-primary mx-auto text-uppercase ">
            <img src="../assets/apple.png" class="pr-3" alt="" />
            <span>iphone</span>
          </a>
        </div>
        <!-- <div
        ref="down"
        :style="`transform: translate(-50%, ${offsetValue}%)`"
        class="btns d-none d-md-block text-center position-absolute mx-auto"
      >
        <button class="btn btn-primary mx-auto text-uppercase mb-3 d-flex">
          <img src="../assets/android.png" class="pr-3" alt="" />
          <span>android</span></button
        ><br />
        <button class="btn btn-primary mx-auto text-uppercase d-flex">
          <img src="../assets/apple.png" class="pr-3" alt="" /> <span>iphone</span>
        </button>
      </div> -->
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Downloads",
  data() {
    return {
      offsetValue: 0,
    };
  },
  props: {
    title: String,
    androidLink: String,
    iphoneLink: String
  },

  methods: {
    clamp(num, min, max) {
      return num <= min ? min : num >= max ? max : num;
    },
    handleScroll() {
      this.scrolled = window.scrollY > 0;

      var distanceToTop = this.$refs.down.getBoundingClientRect().top;
      var posDistanceToTop = distanceToTop;

      /* console.log("distanceToTop")
      console.log(distanceToTop)
      console.log("posDistanceToTop")
      console.log(posDistanceToTop)
      console.log("posDistanceToTop / window.innerHeight")
      console.log(posDistanceToTop / window.innerHeight) */

      this.offsetValue =
        this.clamp(posDistanceToTop / window.innerHeight, 0, 1) * 60;
    },
  },
  created() {
    /* window.addEventListener("scroll", this.handleScroll); */
  },
  unmounted() {
    /* window.removeEventListener("scroll", this.handleScroll); */
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.downloads {
  .btns {
    position: relative;
    top: 13%;
    left: 50%;
    margin-top: 70px;
    .btn-primary {
      border: none;
      padding: 24px 40px;
      border-radius: 80px;
      text-align: center;
      letter-spacing: 3px;
      text-transform: uppercase;
      font-size: 26px;
      line-height: 30px;
      font-weight: 900;
      color: #fff;
      background: #212945;

      -webkit-transition: all ease-in-out 0.2s;
      -moz-transition: all ease-in-out 0.2s;
      -o-transition: all ease-in-out 0.2s;
      transition: all ease-in-out 0.2s;
      span {
        padding-top: 10px;
      }
      @include md {
        span {
          padding-top: 0px;
        }
        font-size: 40px;
        line-height: 47px;
      }
    }
    @include md {
      .btn-primary:hover {
        padding: 28px 46px;
        font-size: 44px;
      }
      .btn-primary.focus,
      .btn-primary:focus {
        padding: 28px 46px;
        font-size: 44px;
      }
    }
  }
  .btns-fix {
    position: relative;
    padding-bottom: 100px;
    .btn-primary {
      border: none;
      padding: 24px 40px;
      border-radius: 80px;
      text-align: center;
      letter-spacing: 3px;
      text-transform: uppercase;
      font-size: 26px;
      line-height: 30px;
      font-weight: 900;
      color: #fff;
      background: #212945;

      -webkit-transition: all ease-in-out 0.2s;
      -moz-transition: all ease-in-out 0.2s;
      -o-transition: all ease-in-out 0.2s;
      transition: all ease-in-out 0.2s;
      span {
        padding-top: 10px;
      }
      @include md {
        span {
          padding-top: 0px;
        }
        font-size: 40px;
        line-height: 47px;
      }
    }
    @include md {
      .btn-primary:hover {
        padding: 28px 46px;
        font-size: 44px;
      }
      .btn-primary.focus,
      .btn-primary:focus {
        padding: 28px 46px;
        font-size: 44px;
      }
    }
  }
  h1 {
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    font-weight: bold;
    /* white */

    color: #f0f0f0;
    @include md {
      font-size: 70px;
      line-height: 84px;
    }
  @include lg {
    font-size: 110px;
    line-height: 164px;
  }
  @include xxl {
    font-size: 140px;
    line-height: 164px;
  }
  }
  .download-hero {
    /* height: 522px; */
    /* Highlight */

    background: #38cc78;
    /* background: url("../assets/parallax-download.png"); */
    background-attachment: fixed;

    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */

    .text {
      padding-top: 100px !important;
      padding-bottom: 32px !important;
      @include md {
        padding-bottom: 32px !important;
      }
    }
    /* top: -26px; */
    position: relative;
  }
}
</style>
