<template>
  <div class="footer px-5 pb-5 pb-md-0">
    <p class="mb-4 mb-md-0">{{copyright}}</p>
    <a target="_blank" :href="termsUrl">{{termsBtn}}</a>
    <br>
    <a target="_blank" :href="policyUrl">{{policyBtn}}</a>
    <div class="footer-logo d-flex justify-content-center">
      <a
        target="_blank"
        href="https://www.qualitare.com/"
        class="footer-by footer-qualitare"
      >
        <img src="../assets/qualitare.png" alt="" />
      </a>
    </div>
  </div>
</template>

<script>
export default {
  name: "Footer",
  props: {
    copyright: String,
    termsBtn: String,
    policyBtn: String,
    termsUrl: String,
    policyUrl: String,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.footer-logo {
  position: absolute;
  bottom: 0px;
  left: 100px;
  transform: translateX(-50%);
  @include md{
  bottom: -30px;

  }
  @include lg {
    bottom: 20px;
    left: 50%;
  }
}
.footer-qualitare {
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;

  overflow: hidden;
  width: 100px;
}
.footer-qualitare:hover {
  width: 160px;
}

.footer {
  background: #212945;
  position: relative;
  top: -25px;
  p {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #f0f0f0;
    @include md {
    }
  }
  a {
    font-weight: 300;
    color: #f0f0f0;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
  }
}
</style>
