<template>
  <div style="width: 100%; overflow-x: hidden">
    <div id="home" class="main-hero container-fluid p-0">
      <div class="baloes-size-holder">
        <!-- <img alt="Hero Bg" class="main-hero-img" src="../assets/hero_bg.jpg" /> -->
        <div class="baloes-holder">
          <div
            ref="refMob1"
            style="left: 110px; top: 60px; transform: rotate(-7.27deg)"
            class="bh mob-bh"
          >
            <div class="b-d transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            ref="refMob2"
            style="left: 10px; top: 160px; transform: rotate(-7.27deg)"
            class="bh mob-bh"
          >
            <div class="b-r transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 770px; top: 600px; transform: rotate(-7.27deg)"
            class="bh"
          >
            <div class="b-r transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 770px; top: 760px; transform: rotate(-7.27deg)"
            class="bh"
          >
            <div class="b-r transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 2150px; top: 660px; transform: rotate(-7.27deg)"
            class="bh"
          >
            <div class="b-r transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 1850px; top: 230px; transform: rotate(-7.27deg)"
            class="bh"
          >
            <div class="b-r transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 1850px; top: 920px; transform: rotate(-7.27deg)"
            class="bh"
          >
            <div class="b-r transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 2370px; top: 480px; transform: rotate(-7.27deg)"
            class="bh"
          >
            <div class="b-r transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 2070px; top: 920px; transform: rotate(-7.27deg)"
            class="bh"
          >
            <div class="b-r transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 1170px; top: 920px; transform: rotate(-7.27deg)"
            class="bh"
          >
            <div class="b-r transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 2370px; top: 1000px; transform: rotate(-7.27deg)"
            class="bh"
          >
            <div class="b-r transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 940px; top: 760px; transform: rotate(-7.27deg)"
            class="bh"
          >
            <div class="b-r transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 1210px; top: 760px; transform: rotate(-7.27deg)"
            class="bh"
          >
            <div class="b-r transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 1180px; top: 410px; transform: rotate(-7.27deg)"
            class="bh"
          >
            <div class="b-r transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 1180px; top: 60px; transform: rotate(-7.27deg)"
            class="bh"
          >
            <div class="b-d transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 1380px; top: 60px; transform: rotate(-7.27deg)"
            class="bh"
          >
            <div class="b-d transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 760px; top: 410px; transform: rotate(-7.27deg)"
            class="bh"
          >
            <div class="b-r transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 620px; top: 500px; transform: rotate(-7.27deg)"
            class="bh"
          >
            <div class="b-r transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 10px; top: 680px; transform: rotate(-7.27deg)"
            class="bh mob-bh"
            ref="refMob3"
          >
            <div class="b-r transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 330px; top: 60px; transform: rotate(5.3deg)"
            class="bh mob-bh"
            ref="refMob4"
          >
            <div class="b-d transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 760px; top: 60px; transform: rotate(5.3deg)"
            class="bh"
          >
            <div class="b-d transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 1620px; top: 60px; transform: rotate(5.3deg)"
            class="bh"
          >
            <div class="b-d transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 1920px; top: 330px; transform: rotate(5.3deg)"
            class="bh"
          >
            <div class="b-d transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 1960px; top: 670px; transform: rotate(5.3deg)"
            class="bh"
          >
            <div class="b-d transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 2380px; top: 670px; transform: rotate(5.3deg)"
            class="bh"
          >
            <div class="b-d transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 2380px; top: 150px; transform: rotate(5.3deg)"
            class="bh"
          >
            <div class="b-d transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 1380px; top: 920px; transform: rotate(5.3deg)"
            class="bh"
          >
            <div class="b-d transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 1620px; top: 400px; transform: rotate(5.3deg)"
            class="bh"
          >
            <div class="b-d transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 1640px; top: 760px; transform: rotate(5.3deg)"
            class="bh"
          >
            <div class="b-d transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 1840px; top: 600px; transform: rotate(5.3deg)"
            class="bh"
          >
            <div class="b-d transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 1820px; top: 760px; transform: rotate(5.3deg)"
            class="bh"
          >
            <div class="b-d transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 1420px; top: 760px; transform: rotate(5.3deg)"
            class="bh"
          >
            <div class="b-d transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 1420px; top: 230px; transform: rotate(5.3deg)"
            class="bh"
          >
            <div class="b-d transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 230px; top: 150px; transform: rotate(-13.62deg)"
            class="bh mob-bh"
            ref="refMob5"
          >
            <div class="b-r transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 1380px; top: 420px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-u transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 1710px; top: 680px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-u transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 1710px; top: 160px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-u transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 1530px; top: 320px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-u transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 2280px; top: 220px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-u transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 2280px; top: 420px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-l transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 2040px; top: 420px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-l transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 1970px; top: 1020px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-r transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 870px; top: 670px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-u transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 970px; top: 50px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-d transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 970px; top: 250px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-u transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 1270px; top: 350px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-u transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 1290px; top: 670px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-u transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 730px; top: 230px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-u transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 1090px; top: 680px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-u transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 410px; top: 320px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-u transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 10px; top: 320px; transform: rotate(-13.62deg)"
            class="bh mob-bh"
            ref="refMob6"
          >
            <div class="b-u transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 6px; top: 510px; transform: rotate(-13.62deg)"
            class="bh mob-bh"
            ref="refMob7"
          >
            <div class="b-u transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 430px; top: 510px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-u transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 100px; top: 220px; transform: rotate(-13.62deg)"
            class="bh mob-bh"
            ref="refMob8"
          >
            <div class="b-u transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 890px; top: 150px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-r transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 1420px; top: 610px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-u transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 200px; top: 510px; transform: rotate(-13.62deg)"
            class="bh mob-bh"
            ref="refMob9"
          >
            <div class="b-u transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 670px; top: 850px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-u transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 1490px; top: 850px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-u transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 1600px; top: 220px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-u transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 1630px; top: 590px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-u transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 1850px; top: 70px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-u transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 960px; top: 610px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-u transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 1060px; top: 320px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-u transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 100px; top: 420px; transform: rotate(-13.62deg)"
            class="bh mob-bh"
            ref="refMob10"
          >
            <div class="b-u transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 320px; top: 420px; transform: rotate(-13.62deg)"
            class="bh mob-bh"
            ref="refMob11"
          >
            <div class="b-u transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 400px; top: 140px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-l transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 500px; top: 420px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-u transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 770px; top: 920px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-u transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 870px; top: 1020px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-u transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 1720px; top: 1020px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-u transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 2250px; top: 570px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-u transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 2270px; top: 60px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-d transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 1920px; top: 510px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-d transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 1920px; top: 850px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-d transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 1620px; top: 920px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-r transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 970px; top: 920px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-r transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 620px; top: 680px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-u transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 210px; top: 330px; transform: rotate(-13.62deg)"
            class="bh mob-bh"
            ref="refMob12"
          >
            <div class="b-u transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 650px; top: 160px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-r transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 850px; top: 840px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-r transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 1100px; top: 840px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-r transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 1750px; top: 840px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-r transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 1300px; top: 150px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-r transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 1540px; top: 150px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-u transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 1540px; top: 510px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-u transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 1530px; top: 670px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-u transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 1730px; top: 510px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-u transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 1700px; top: 330px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-u transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 1810px; top: 410px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-u transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 1300px; top: 510px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-u transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 1310px; top: 840px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-u transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 1050px; top: 140px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-l transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 1090px; top: 520px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-u transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 990px; top: 420px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-u transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 540px; top: 760px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-u transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 850px; top: 530px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-u transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 620px; top: 330px; transform: rotate(-13.62deg)"
            class="bh"
          >
            <div class="b-u transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 350px; top: 240px; transform: rotate(8.43deg)"
            class="bh"
          >
            <div class="b-l transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 520px; top: 590px; transform: rotate(8.43deg)"
            class="bh"
          >
            <div class="b-l transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 500px; top: 60px; transform: rotate(8.43deg)"
            class="bh"
          >
            <div class="b-d transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 2060px; top: 60px; transform: rotate(8.43deg)"
            class="bh"
          >
            <div class="b-d transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 2060px; top: 760px; transform: rotate(8.43deg)"
            class="bh"
          >
            <div class="b-d transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 2160px; top: 860px; transform: rotate(8.43deg)"
            class="bh"
          >
            <div class="b-d transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 2360px; top: 860px; transform: rotate(8.43deg)"
            class="bh"
          >
            <div class="b-d transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 2380px; top: 310px; transform: rotate(8.43deg)"
            class="bh"
          >
            <div class="b-d transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 2140px; top: 310px; transform: rotate(8.43deg)"
            class="bh"
          >
            <div class="b-d transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 520px; top: 240px; transform: rotate(8.43deg)"
            class="bh"
          >
            <div class="b-l transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 870px; top: 340px; transform: rotate(8.43deg)"
            class="bh"
          >
            <div class="b-l transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 2170px; top: 130px; transform: rotate(8.43deg)"
            class="bh"
          >
            <div class="b-l transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 2070px; top: 210px; transform: rotate(8.43deg)"
            class="bh"
          >
            <div class="b-d transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 1970px; top: 140px; transform: rotate(8.43deg)"
            class="bh"
          >
            <div class="b-d transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 2040px; top: 570px; transform: rotate(8.43deg)"
            class="bh"
          >
            <div class="b-d transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 2150px; top: 490px; transform: rotate(8.43deg)"
            class="bh"
          >
            <div class="b-r transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 2250px; top: 740px; transform: rotate(8.43deg)"
            class="bh"
          >
            <div class="b-r transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 2280px; top: 910px; transform: rotate(8.43deg)"
            class="bh"
          >
            <div class="b-d transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 1190px; top: 220px; transform: rotate(8.43deg)"
            class="bh"
          >
            <div class="b-l transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
          <div
            style="left: 1160px; top: 600px; transform: rotate(8.43deg)"
            class="bh"
          >
            <div class="b-l transition">
              <div class="b-arrow"></div>
              <p  v-html="speechBalloons[getRandomInt(0, speechBalloons.length)]" class="mb-0"></p>
            </div>
          </div>
        </div>
      </div>
      <div data-aos="zoom-in" class="hero-header-holder">
        <div style="transform: rotate(-3.56deg)" class="d-flex">
          <img alt="" class="img-arrow-down" src="../assets/down-arrow.png" />
          <p class="hero-header">
            {{title}}
          </p>
          <div data-aos="zoom-in" data-aos-delay="300">
            <button
              @click="showModal = true"
              type="button"
              class="hero-action-holder transition"
            >
              <img
                alt=""
                class="mb-2 play-img transition"
                src="../assets/play-arrow.svg"
              />
              <p style="white-space: nowrap" class="mb-0 transition">
                VEJA O<br />
                VÍDEO
              </p>
            </button>
          </div>
        </div>
      </div>
    </div>
    <vue-final-modal v-model="showModal">
      <div class="modal-iframe mx-auto">
        <button class="modal-close" @click="showModal = false">
          <ion-icon name="close-outline"></ion-icon>
        </button>
        <iframe
          v-if="showModal"
          width="100%"
          height="56%"
          :src="'https://www.youtube.com/embed/'+getYoutubeUrl(url)+'?autoplay=1'"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </vue-final-modal>

    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Hero",
  props: {
    url: String,
    title: String,
    speechBalloons: Array
  },
  data() {
    return {
      modalLink: "https://www.youtube.com/embed/OrxmtDw4pVI?autoplay=1",
      modalToggle: false,
      showModal: false,
    };
  },
  mounted: function () {
    if (window.innerWidth < 800) {
      window.setInterval(() => {
        var refmob = [];
        refmob[0] = this.$refs.refMob1;
        refmob[1] = this.$refs.refMob2;
        refmob[2] = this.$refs.refMob3;
        refmob[3] = this.$refs.refMob4;
        refmob[4] = this.$refs.refMob5;
        refmob[5] = this.$refs.refMob6;
        refmob[6] = this.$refs.refMob7;
        refmob[7] = this.$refs.refMob8;
        refmob[8] = this.$refs.refMob9;
        refmob[9] = this.$refs.refMob10;
        refmob[10] = this.$refs.refMob11;
        refmob[11] = this.$refs.refMob12;
        /* console.log(refmob)
          console.log("next balao") */
        refmob.forEach((e) => {
          e.classList.remove("active");
        });
        refmob[Math.floor(Math.random() * 11)].classList.add("active");
      }, 2000);
    }
  },
  methods: {
    getYoutubeUrl: function (theurl){
        theurl = theurl.replace('https://youtu.be/', ''); 
        return theurl;
    },
    getRandomInt(min, max) {
        min = Math.ceil(min);
        max = Math.floor(max);
        return Math.floor(Math.random() * (max - min)) + min;
    }

  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.img-arrow-down {
  height: 160px;
  width: auto;
  @include md {
    height: auto;
    width: auto;
  }
}
.modal-close {
  position: absolute;
  top: -30px;
  right: -31px;
  background: #38cc78;
  border: none;
  color: #fff;
  font-size: 40px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.modal-iframe {
  width: 80vw;
  height: 80vh;

  margin-top: 150px;
  position: relative;
  @include lg {
    max-width: 800px;
    max-height: 700px;
  }
}
.main-hero-img {
  position: absolute;
  width: 100vw;
  height: 100vh;
  min-width: 1920px;
  min-height: 900px;
  z-index: 0;
  object-fit: cover;
  object-position: 0 0;
}
.baloes-size-holder {
  position: absolute;
  overflow: hidden;
  width: 97vw;
  height: 100vh;
}
.baloes-holder {
  position: absolute;
  width: 100vw;
  height: 100vh;
  min-width: 1920px;
  min-height: 900px;
  .bh {
    z-index: 20;
    display: inline-block;
    height: 80px;
    width: 80px;
    position: absolute;
    /* background: red; */
  }
  .b-u {
    display: inline-block;
    opacity: 0;

    background: #38cc78;
    padding: 11px 17px;
    position: relative;
    top: -110px;
    border-radius: 16px;
    p {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      color: #212945;
      white-space: nowrap;
    }
    .b-arrow {
      background: #38cc78;
      position: absolute;
      width: 20px;
      height: 20px;
      left: 50%;
      bottom: -10px;
      transform: translateX(-50%) rotate(-45deg);
    }
  }
  .b-r {
    display: inline-block;
    opacity: 0;

    background: #38cc78;
    padding: 11px 17px;
    position: relative;
    right: -90px;
    border-radius: 16px;
    p {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      color: #212945;
      white-space: nowrap;
    }
    .b-arrow {
      background: #38cc78;
      position: absolute;
      width: 20px;
      height: 20px;
      top: 50%;
      left: -10px;
      transform: translateY(-50%) rotate(-45deg);
    }
  }
  .b-l {
    display: inline-block;
    opacity: 0;

    background: #38cc78;
    padding: 11px 17px;
    position: relative;
    left: -120px;
    border-radius: 16px;
    p {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      color: #212945;
      white-space: nowrap;
    }
    .b-arrow {
      background: #38cc78;
      position: absolute;
      width: 20px;
      height: 20px;
      top: 50%;
      right: -10px;
      transform: translateY(-50%) rotate(-45deg);
    }
  }
  .b-d {
    display: inline-block;
    opacity: 0;
    background: #38cc78;
    padding: 11px 17px;
    position: relative;
    bottom: -90px;
    border-radius: 16px;
    left: 50%;
    transform: translateX(-50%);

    p {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      color: #212945;
      white-space: nowrap;
    }
    .b-arrow {
      background: #38cc78;
      position: absolute;
      width: 20px;
      height: 20px;
      left: 50%;
      top: -10px;
      transform: translateX(-50%) rotate(-45deg);
    }
  }
  .active {
    .b-d {
      opacity: 1 !important;
    }
    .b-r {
      opacity: 1 !important;
    }
    .b-l {
      opacity: 1 !important;
    }
    .b-u {
      opacity: 1 !important;
    }
  }

  @include md {
    .bh:hover {
      .b-d {
        opacity: 1;
      }
      .b-r {
        opacity: 1;
      }
      .b-l {
        opacity: 1;
      }
      .b-u {
        opacity: 1;
      }
    }
  }
}
.hero-header-holder {
  background: #212945;
  z-index: 10;
  position: absolute;
  bottom: -40px;
  left: -20px;
  padding: 42px 24px;
  border-radius: 200px;
  transform: rotate(-3.56deg);

  @include lg {
    left: 104px;
    padding: 92px 67px;
  }

  .hero-action-holder {
    box-shadow: none !important;
    text-decoration: none;
    background: #38cc78;
    position: absolute;
    border: none;

    text-align: center;
    padding: 20px 28px;
    border-radius: 200px;
    right: -105px;
    margin-top: 47px;
    transform: rotate(+7.56deg);
    @include lg {
      right: -123px;
    }

    p {
      text-decoration: none;

      font-size: 14px;
      line-height: 16px;
      text-align: center;
      max-width: 69px;
      /* dark */

      color: #212945;
    }
    .play-img {
      width: 29px;
      height: 31px;
    }
  }
  .hero-action-holder:focus {
    outline: 0;
  }
  .hero-action-holder:hover {
    padding: 30px 35px;
    transform: rotate(0.56deg) !important;
    right: -132px;
    margin-top: 36px;
    p {
      font-size: 17px;
    }
    .play-img {
      width: 34px;
      height: 38px;
    }
  }
}
.hero-header {
  z-index: 10;
  max-width: 153.48px;
  font-weight: bold;
  align-self: center;
  /* white */

  color: #f0f0f0;

  font-size: 19px;
  line-height: 22px;
  @include lg {
    font-size: 24px;
    line-height: 28px;
    max-width: 196.48px;
  }
}
.main-hero {
  overflow: hidden !important;
  height: 100vh;
  background: url("../assets/hero_bg_big.jpg");
  background-position: 0px 0px;
}
</style>
