<template>
  <div style="width: 100%; overflow-x: hidden">
    <nav
      class="navbar fixed-top navbar-expand-lg navbar-light bg-light navbar-bg"
    >
      <div data-aos="fade-down" class="container position-relative">
        <a href="#home">
          <img alt="Stayon logo" class="logo" src="../assets/logo.svg" />
        </a>
        <a href="#download" class="navbar-fownload btn-menu d-lg-none" v-html="download">
        </a>
        <button class="navbar-toggler" type="button" @click="showMobileMenu">
          <img alt="navbar toggler" src="../assets/menu-dash.svg" />
          <!-- <span class="navbar-toggler-icon"></span> -->
        </button>

        <div
          v-if="showmobile"
          class="mobile-menu animate__animated animate__fadeInLeft"
        >
          <div class="container position-relative">
            <img alt="Stayon logo" class="logo" src="../assets/logo.svg" />
            <button @click="showMobileMenu" class="btn btn-close">
              <img alt="navbar toggler" src="../assets/btn-close.svg" />
            </button>
            <div class="menu-links mx-auto text-center">
              <a
                @click="showMobileMenu"
                class="nav-link hover-link transition py-4 px-3"
                href="#recursos"
                >{{resources}}
              </a>
              <a
                @click="showMobileMenu"
                class="nav-link hover-link transition py-4 px-3"
                href="#parceiro"
                >{{partner}}</a
              >
              <a
                @click="showMobileMenu"
                class="nav-link hover-link transition py-4 px-3"
                href="#contato"
                >{{contact}}</a
              >
              <div class="py-3">
                <a href="#" class="btn btn-social">
                  <img src="../assets/Frameinsta.svg" alt="" />
                </a>
                <a href="#" class="btn btn-social">
                  <img src="../assets/Framelinked.svg" alt="" />
                </a>
                <a href="#" class="btn btn-social">
                  <img src="../assets/Frameface.svg" alt="" />
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link hover-link transition px-3" href="#recursos"
                >{{resources}}
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link hover-link transition px-3" href="#parceiro"
                >{{partner}}</a
              >
            </li>
            <li class="nav-item active">
              <a class="nav-link hover-link transition px-3" href="#contato"
                >{{contact}}</a
              >
            </li>
            <li class="nav-item download-btn-holder d-none d-md-block">
              <a class="nav-link download-btn transition px-3" href="#download" v-html="download"
                ></a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  name: "Navbar",
  props: {
    msg: String,
    resources: String,
    partner: String,
    contact: String,
    download: String,
  },
  data() {
    return {
      showmobile: false,
    };
  },
  methods: {
    showMobileMenu() {
      /* console.log("showing mobile menu"); */
      this.showmobile = !this.showmobile;
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.btn-menu {
  box-shadow: none !important;
  text-decoration: none;
  background: #38cc78;
  position: absolute;
  border: none;

  text-align: center;
  padding: 23px 21px;
  border-radius: 200px;
  right: 70px;
  margin-top: -0px;
  transform: rotate(+7.56deg);
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 19px;
  line-height: 22px;
  text-align: center;
  /* dark */

  color: #212945;
}

.mobile-menu {
  background: #38cc78;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  button {
    position: absolute;
    top: 10px;
    right: 25px;
    outline: none;
  }
  .logo {
    position: absolute;
    top: 20px;
    left: 25px;
    outline: none;
  }
  .menu-links {
    position: relative;
    top: 50vh;
    transform: translateY(-50%);
  }
  a {
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 3px;
    text-transform: uppercase;

    /* dark */

    color: #212945;
    font-weight: 900;
  }
  a:hover {
    color: #212945 !important;
  }
}
.navbar-light .navbar-toggler {
  border: none;
  box-shadow: none;
  outline: none;
}
.logo {
  width: 117px;
  height: 30px;
}
.nav-link {
  font-size: 14px;
  line-height: 16px;

  /* dark */

  color: #212945;
}
.hover-link:hover {
  color: #38cc78 !important;
}
.navbar-bg {
  background: #f0f0f0;
}

.download-btn-holder {
  width: 108px;
}
.download-btn {
  background: #38cc78;
  border-radius: 200px;
  padding: 43px 30px !important;
  font-size: 30px;
  color: #212945 !important;
  line-height: 25px;
  text-transform: uppercase;
  font-weight: bold;

  position: absolute;
  top: -25px;
  margin-left: 20px;
  transform: rotate(3.7deg);
  z-index: 10;
}
.download-btn:hover {
  margin-left: 10px;
  top: -35px;

  padding: 53px 40px !important;
  transform: rotate(0deg);
}
</style>
