<template>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light navbar-bg">
    <div data-aos="fade-down" class="container">
      <a href="/">
        <img alt="Stayon logo" src="../assets/logo.png" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarText"
        aria-controls="navbarText"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link hover-link transition" href="/">Recursos </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link hover-link transition" href="/">Parceiro</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link hover-link transition" href="/">Contato</a>
          </li>
          <li  class="nav-item download-btn-holder">
            <a class="nav-link download-btn transition" href="/">Down<br />load</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: "NavbarExternal",
  props: {
    msg: String,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.nav-link {
  font-size: 14px;
  line-height: 16px;

  /* dark */

  color: #212945;
}
.hover-link:hover{
    color: #38cc78 !important;
}
.navbar-bg {
  background: #f0f0f0;
}

.download-btn-holder {
  width: 108px;
}
.download-btn {

  background: #38cc78;
  border-radius: 200px;
  padding: 43px 30px !important;
  font-size: 30px ;
  color: #212945 !important;
  line-height: 25px ;
  text-transform: uppercase;
  font-weight: bold;

  position: absolute;
  top: -25px;
  margin-left: 20px;
  transform: rotate(3.7deg);
  z-index: 10;
}
.download-btn:hover {
  margin-left: 10px;

  padding: 50px 37px !important;
  transform: rotate(5.7deg);
}

</style>
