<template>
  <div style="width: 100%; overflow-x: hidden">
    <div id="parceiro" class="bg-whiter container-fluid parceria">
      <div class="row parceria-row px-md-5">
        <div class="col-lg-6">
          <h1 class="text-left ml-auto">{{title}}</h1>
        </div>
        <div class="col-lg-6 btns">
          <p class="mt-5 mb-4">
            {{desc}}
          </p>
          <a :href="downloadLink" download class="btn btn-primary text-uppercase d-inline-flex">
            <img src="../assets/paper.png" class="pr-3" alt="" />
            <span>folheto</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Parceria",
  props: {
    title: String,
    desc: String,
    downloadLink: String,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
#parceiro {
  h1 {
    max-width: 857px;
  }
}
.parceria-row {
  padding-top: 116px;
  padding-bottom: 142px;
}
.btns {
  .btn-primary {
    border: none;
    padding: 24px 40px;
    border-radius: 80px;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;

    font-weight: 900;
    color: #fff;
    background: #212945;

    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;

    span {
      padding-top: 10px;
    }
    @include md {
      span {
        padding-top: 0px;
      }
      font-size: 40px;
      line-height: 47px;
    }
  }
  .btn-primary:not(:disabled):not(.disabled).active,
  .btn-primary:not(:disabled):not(.disabled):active,
  .show > .btn-primary.dropdown-toggle {
    box-shadow: none;
  }
  @include md {
    .btn-primary:hover {
      padding: 28px 46px;
      font-size: 44px;
    }
    .btn-primary.focus,
    .btn-primary:focus {
      padding: 28px 46px;
      font-size: 44px;
    }
    .btn-primary.active,
    .btn-primary:active {
      padding: 28px 46px;
      font-size: 44px;
    }
  }
}

.parceria {
  position: relative;
  /* top: -28px; */
}
.bg-whiter {
  background: #f0f0f0;
}

h1 {
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  font-weight: bold;
  /* white */
  color: #38cc78;
  @include md {
    font-size: 70px;
    line-height: 84px;
  }
  @include lg {
    font-size: 110px;
    line-height: 164px;
  }
  @include xxl {
    font-size: 140px;
    line-height: 164px;
  }
}
p {
  font-size: 19px;
  line-height: 22px;
  /* dark */

  color: #212945;
  max-width: 741px;
  @include md {
    font-size: 24px;
    line-height: 28px;
  }
}
</style>
