<template>
  <div id="recursos" class="stayon-recursos text-white">
    <div class="container">
      <div class="overflow-hidden">

      <h1 data-aos="fade-down" class="font-weight-bold ">{{title}}</h1>
      </div>

      <div class="rec-holder row">
        
          <div class="col-12 graph-holder d-none d-md-block">
            <img
              :src="require('../assets/graph-0.png')"
              width="auto"
              class="graph mr-5 transition active img-fluid"
              alt=""
            />
            <img
              ref="go1"
              :src="graph1Img"
              width="auto"
              class="graph mr-5 transition-slow active img-fluid"
              alt=""
            />
            <img
              ref="go2"
              :src="graph2Img"
              width="auto"
              class="graph mr-5 transition-slow img-responsive"
              alt=""
            />
            <img
              ref="go3"
              :src="graph3Img"
              width="auto"
              class="graph mr-5 transition-slow img-responsive"
              alt=""
            />
            <img
              ref="go4"
              :src="graph4Img"
              width="auto"
              class="graph mr-5 transition-slow img-responsive"
              alt=""
            />
            <img
              ref="go5"
              :src="graph5Img"
              width="auto"
              class="graph mr-5 transition-slow img-responsive"
              alt=""
            />
          </div>
        <div  class="col-md-5"></div>
        <div class="col-md-7 text-col">
          <div>
            <div
              ref="g1"
              class="rec-holder-content ml-md-5 pt-0"
            >
              <!-- v-observe-visibility="visibilityChanged" -->
              <img
                :src="graph1Img"
                class="graph-mobile img-fluid mx-auto transition-slow active  d-block d-md-none"
                alt=""
              />

              <h2 class="text-white">{{graph1.title}}</h2>
              <p class="text-white">
                {{graph1.desc}}
              </p>
            </div>
            <div
              ref="g2"
              class="rec-holder-content ml-3 ml-md-5"
            >
              <img
                :src="graph2Img"
                class="graph-mobile mx-auto transition-slow active  d-block d-md-none"
                alt=""
              />

              <h2 class="text-white">{{graph2.title}}</h2>
              <p class="text-white">
                {{graph2.desc}}
              </p>
            </div>
            <div
              ref="g3"
              class="rec-holder-content ml-3 ml-md-5"
            >
              <img
                :src="graph3Img"
                class="graph-mobile mx-auto transition-slow active  d-block d-md-none"
                alt=""
              />

              <h2 class="text-white">{{graph3.title}}</h2>
              <p class="text-white">
                {{graph3.desc}}
              </p>
            </div>
            <div
              ref="g4"
              class="rec-holder-content ml-3 ml-md-5"
            >
              <img
                :src="graph4Img"
                class="graph-mobile mx-auto transition-slow active  d-block d-md-none"
                alt=""
              />
              <h2 class="text-white">{{graph4.title}}</h2>
              <p class="text-white">
                {{graph4.desc}}
              </p>
            </div>
            <div
              ref="g5"
              class="rec-holder-content ml-3 ml-md-5 pb-0"
            >
              <img
                :src="graph5Img"
                class="graph-mobile mx-auto transition-slow active  d-block d-md-none"
                alt=""
              />
              <h2 class="text-white">{{graph5.title}}</h2>
              <p class="text-white">
                {{graph5.desc}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
/* import Vue from 'vue'
import VueObserveVisibility from 'vue-observe-visibility'
Vue.use(VueObserveVisibility) */

export default {
  name: "Recursos",
  data: () => ({
    graph: require("../assets/graph-1.png"),
    currentImgId: 0,
    graphs: [],
  }),
  props: {
    title: String,
    graph1: Object,
    graph2: Object,
    graph3: Object,
    graph4: Object,
    graph5: Object,
    graph1Img: String,
    graph2Img: String,
    graph3Img: String,
    graph4Img: String,
    graph5Img: String,
  },
  methods: {
    visibilityChanged(isVisible, entry) {
      this.isVisible = isVisible;
      console.log("->");
      console.log(isVisible);
      console.log(entry);
      console.log("<-");
      if (!isVisible) {
        this.graph = entry.target.getAttribute("data-img");
      }
    },
    clamp(num, min, max) {
      return num <= min ? min : num >= max ? max : num;
    },
    handleScroll() {
      var distanceToTop = [];
      var objects = [];
      distanceToTop[0] = this.$refs.g1.getBoundingClientRect().top;
      distanceToTop[1] = this.$refs.g2.getBoundingClientRect().top;
      distanceToTop[2] = this.$refs.g3.getBoundingClientRect().top;
      distanceToTop[3] = this.$refs.g4.getBoundingClientRect().top;
      distanceToTop[4] = this.$refs.g5.getBoundingClientRect().top;

      objects[0] = this.$refs.go1;
      objects[1] = this.$refs.go2;
      objects[2] = this.$refs.go3;
      objects[3] = this.$refs.go4;
      objects[4] = this.$refs.go5;

      for (let i = 0; i < distanceToTop.length; i++) {
        const e = distanceToTop[i];
        /* console.log(e + " ---> " + i); */
        if (e <= 400) {
          for (let io = 0; io < objects.length; io++) {
            const eo = objects[io];
            if (io == i) eo.classList.add("active");
            if (io != i) {
              eo.classList.remove("active");
            }
          }
        }
      }
    },
  },
  created() {
    window.addEventListener("scroll", this.handleScroll);
  },
  unmounted() {
    window.removeEventListener("scroll", this.handleScroll);
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.text-col{
  @include md{
    top: -831px;
  }
}
@mixin fadef($yaxis: 0) {
  transform: translate3d(0, $yaxis, 0);
}

@keyframes fadein {
  1% {
    @include fadef(-400px);
  }
  20%,
  40%,
  60%,
  80%,
  95%,
  99%,
  100% {
    @include fadef();
  }
  30% {
    @include fadef(-80px);
  }
  50% {
    @include fadef(-40px);
  }
  70% {
    @include fadef(-30px);
  }
  90% {
    @include fadef(-15px);
  }
  97% {
    @include fadef(-10px);
  }
}

.fadein {
  animation: fadein 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s;
}
.fade-leave-to, .fade-leave /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.fade-enter-to {
  opacity: 1;

  z-index: -1 !important;
}

.graph {
  width: auto;
  max-height: 270px;
  position: absolute;
  margin: auto;
  transform: translateY(-50%);
  opacity: 0;
  left: -60px;
  @include md{
  max-height: 270px;
  }
  @include lg{
      max-height: 570px;
  }
}
.graph-mobile{
  width: 100%;
  max-width: 300px;
  @include sm{
    max-width: 300px;
  }
}
.active {
  opacity: 1;
}
.graph-holder {
  margin-top: 225px;
  margin-bottom: 525px;
  height: 100%;
  position: sticky;
  top: 50%;

  transform: translateY(-50%);
  min-width: 600px;
}
.rec-holder-content {
  /* padding-bottom: 168px;
  padding-top: 150px; */
  padding-bottom: 60px;
  @include md{
  padding-bottom: 318px;

  }
}
h1 {
  font-size: 40px;
  line-height: 59px;
  text-align: center;
  color: #f0f0f0;
  padding-top: 153px;
  padding-bottom: 60px;
  font-weight: 900;
  @include sm{
    padding-top: 173px;
    padding-bottom: 160px;

    font-size: 50px;
  }
  @include md{
    padding-top: 73px;
    padding-bottom: 1 60px;

    font-size: 70px;
    line-height: 84px;
  }
  @include lg {
    font-size: 110px;
    line-height: 164px;
  }
  @include xxl {
    font-size: 140px;
    line-height: 164px;
  }
}
h2 {
  font-size: 24px;
  line-height: 40px;
  font-weight: 900;
  margin-bottom: 50px;

  /* white */

  color: #f0f0f0;
  @include sm{
      font-size: 24px;
  }
  @include md{
    font-size: 50px;
    line-height: 69px;

  }
  @include lg{
    font-size: 80px;
    line-height: 109px;
  }
  @include xxl{
    font-size: 110px;
    line-height: 129px;
  }
}
p {
  font-size: 19px;
line-height: 22px;
  @include md{
    font-size: 24px;
    line-height: 28px;

  }
}
.stayon-recursos {
  background: #212945;

position: relative;
}
</style>
