<template>
  <div class="position-relative">

  <div
    v-observe-visibility="visibilityChanged"
    ref="el"
    id="stayon-section"
    class="stayon-moving position-relative"
  >
    <div style="padding-top: 200px" class="mb-375">
      <h1 v-html="heading1" class="mb-0"></h1>
    </div>
    <div
      ref="i1"
      :data-imgl="require('../assets/girl-left-1.png')"
      :data-imgr="require('../assets/girl-right-1.png')"
      class="mb-375"
    >
      <h1 v-html="heading2" class="mb-0"></h1>
    </div>
    <div
      ref="i2"
      :data-imgl="require('../assets/girl-left-2.png')"
      :data-imgr="require('../assets/girl-right-2.png')"
      class="mb-375"
    >
      <h1 v-html="heading3" class="mb-0"></h1>
    </div>
    <div
      ref="i3"
      :data-imgl="require('../assets/girl-left-3.png')"
      :data-imgr="require('../assets/girl-right-3.png')"
      class="mb-stayon text-center"
    >
      <!-- <h1 class="mb-0">stayon</h1> -->
        <img
          class="logo-green img-responsive"
          alt="text-center"
          :src="heading4"
        />
    </div>
    <div class="d-flex justify-content-between hero-imgs overflow-hidden">
      <div
        :style="`left: ${offsetValue}%;`"
        id="girlLeftHolder"
        class="woman-holder"
      >
        <img
          style="z-index: 20"
          ref="gl3"
          class="girlLeft transition"
          alt=""
          :src="require('../assets/girl-left-3.png')"
        />
        <img
          style="z-index: 10"
          ref="gl2"
          class="girlLeft transition"
          alt=""
          :src="require('../assets/girl-left-2.png')"
        />
        <img
          ref="gl1"
          class="girlLeft transition active"
          alt=""
          :src="require('../assets/girl-left-1.png')"
        />
      </div>
      <div
        :style="`right: ${offsetValue}%;`"
        id="girlRightHolder"
        class="woman-holder"
      >
        <!-- <img   alt="" :key="rightWoman" id="girlRight" :src="rightWoman" /> -->
        <img
          style="z-index: 20"
          ref="gr3"
          class="girlRight transition"
          alt=""
          :src="require('../assets/girl-right-3.png')"
        />
        <img
          style="z-index: 10"
          ref="gr2"
          class="girlRight transition"
          alt=""
          :src="require('../assets/girl-right-2.png')"
        />
        <img
          ref="gr1"
          class="girlRight transition active"
          alt=""
          :src="require('../assets/girl-right-1.png')"
        />
      </div>
    </div>
    <div class="other-people w-100">
      <div
        data-aos="fade-up"
        class="d-flex justify-content-center overflow-hidden"
      >
        <div class="left-people-group">
          <img class="d-none d-md-inline" alt="" src="../assets/p1.png" />
          <img class="d-none d-md-inline" alt="" src="../assets/p2.png" />
        </div>
        <div class="right-people-group">
          <img class="d-none d-md-inline" alt="" src="../assets/p3.png" />
          <img class="d-none d-md-inline" alt="" src="../assets/p4.png" />
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-overlay"></div>

  </div>
</template>

<script>
export default {
  name: "Stayon",
  props: {
    heading1: String,
    heading2: String,
    heading3: String,
    heading4: String,
  },
  data() {
    return {
      leftWoman: require("../assets/girl-left-1.png"),
      rightWoman: require("../assets/girl-right-1.png"),
      leftWomanG: [],
      rightWomanG: [],
      currentImgId: 0,
      scrolled: false,
      isVisible: false,
      offsetValue: 0,
    };
  },
  methods: {
    visibilityChanged(isVisible) {
      this.isVisible = isVisible;
    },
    clamp(num, min, max) {
      return num <= min ? min : num >= max ? max : num;
    },
    handleScroll() {
      this.scrolled = window.scrollY > 0;
      if (this.isVisible) {
        /* console.log(this.$refs.el); */
        /* console.log(window.scrollY); */
        var distanceToTop = this.$refs.el.getBoundingClientRect().top;
        var posDistanceToTop = distanceToTop * -1;
        posDistanceToTop = posDistanceToTop + 400;
        this.offsetValue = this.clamp(posDistanceToTop / 2440, 0, 1) * 50;

        /* console.log(posDistanceToTop); */
      }

      var distanceToTopG = [];
      distanceToTopG[0] = this.$refs.i1.getBoundingClientRect().top;
      distanceToTopG[1] = this.$refs.i2.getBoundingClientRect().top;
      distanceToTopG[2] = this.$refs.i3.getBoundingClientRect().top;
      /* console.log(distanceToTopG[1]); */
      if (distanceToTopG[0] > 399) {
        this.$refs.gl2.classList.remove("active");
        this.$refs.gl1.classList.add("active");
        this.$refs.gr2.classList.remove("active");
        this.$refs.gr1.classList.add("active");
      }
      if (distanceToTopG[0] < 400) {
        this.$refs.gl2.classList.add("active");
        this.$refs.gl1.classList.add("active");
        this.$refs.gl3.classList.remove("active");
        this.$refs.gr2.classList.add("active");
        this.$refs.gr1.classList.add("active");
        this.$refs.gr3.classList.remove("active");
      }
      if (distanceToTopG[1] < 200) {
        this.$refs.gl1.classList.remove("active");
        this.$refs.gl2.classList.remove("active");
        this.$refs.gl3.classList.add("active");
        this.$refs.gr1.classList.remove("active");
        this.$refs.gr2.classList.remove("active");
        this.$refs.gr3.classList.add("active");
      }

      /* var nextImg = 0; */
      for (let i = 0; i < distanceToTopG.length; i++) {
        const e = distanceToTopG[i];
        switch (i) {
          case 0:
            if (e > 399) {
              /* nextImg = i; */
            }
            break;
          case 1:
            if (e < 900) {
              /* nextImg = i; */
              /* this.$refs.gl3.classList.add('active');
              this.$refs.gl2.classList.remove('active');
              this.$refs.gl1.classList.remove('active'); */
            }
            break;

          default:
            if (e < 900) {
              /* nextImg = i; */
            }

            break;
        }
      }
      /* if(nextImg != this.currentImgId){
          console.log("img switch")
          this.currentImgId = nextImg;
          this.leftWoman = this.leftWomanG[nextImg];
          this.rightWoman = this.rightWomanG[nextImg];

      } */
    },
  },
  mounted() {
    this.leftWomanG = [
      this.$refs.i1.getAttribute("data-imgl"),
      this.$refs.i2.getAttribute("data-imgl"),
      this.$refs.i3.getAttribute("data-imgl"),
    ];
    this.rightWomanG = [
      this.$refs.i1.getAttribute("data-imgr"),
      this.$refs.i2.getAttribute("data-imgr"),
      this.$refs.i3.getAttribute("data-imgr"),
    ];
  },

  created() {
    window.addEventListener("scroll", this.handleScroll);
  },
  unmounted() {
    window.removeEventListener("scroll", this.handleScroll);
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
/* #girlLeft{
  position: absolute !important; 
  z-index: 20 !important;
}
#girlRight{
  position: absolute !important; 
  z-index: 20 !important;

} */
.bottom-overlay{
  background: #212945;
  height: 20px;
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  z-index: 90;
}
.logo-green{
  max-width: 220.27px;
  max-height: 56.5px;
  @include md{
    max-width: 357.73px;
    max-height: 168.72px;
  }
  @include lg{
    max-width: 657.73px;
    max-height: 168.72px;
  }
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s;
}
.fade-leave-to, .fade-leave /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.fade-enter-to {
  opacity: 1;

  z-index: -1 !important;
}

.right-people-group {
  position: relative;
  @include md{
    left: 180px;

  }
  @include xl{
    left: 220px;

  }
  img{
    width: 154.49px;
    height: 236.58px;

    @include lg {

    width: 194.49px;
    height: auto;
    }
    @include xl {
      width: 230px;
      height: auto;
    }
  }

}
.left-people-group {
  position: relative;
  @include md{
    right: 180px;

  }
  @include xl{
    right: 220px;

  }

  img{
    width: 154.49px;
    height: 236.58px;
    @include lg {
    width: 194.49px;
    height: auto;
    }

    @include xl {
      width: 230px;
      height: auto;
    }
  }

}
#girlRightHolder {
  position: relative;
}
#girlLeftHolder {
  position: relative;
}
.girlRight {
  right: 42%;
  bottom: -258px;
  position: absolute;
  transform: translateX(95%);
  opacity: 0;
  width: 154.49px;
  height: 236.58px;
      @include lg {
    width: 194.49px;
    height: auto;
    }

  @include xl {
      width: 230px;
      height: auto;
  }
}
.girlLeft {
  left: 42%;
  bottom: -258px;
  position: absolute;
  transform: translateX(-95%);
  opacity: 0;
  width: 154.49px;
  height: 236.58px;
      @include lg {
    width: 194.49px;
    height: auto;
    }

  @include xl {
      width: 230px;
      height: auto;
  }
}
.active {
  opacity: 1;
}
.stayon-moving {
  background: #f0f0f0;
}
.other-people {
  position: absolute;
  bottom: -20px;
}
.mb-550 {
  margin-bottom: 550px;
}
.mb-420 {
  margin-bottom: 420px;
}
.mb-375 {
  margin-bottom: 375px;
}
.mb-512 {
  margin-bottom: 512px;
}
.mb-stayon {
  margin-bottom: 6vh;
  @include md{
    margin-bottom: 30vh;

  }
}
.hero-imgs {
  /* hero-imgs */
  height: 524px;
  position: sticky;
  bottom: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

h1 {
  font-size: 40px;
  line-height: 59px;
  text-align: center;

  /* Highlight */

  color: #38cc78;
  font-weight: bold;
  @include sm{
    font-size: 50px;
  }
  @include md{
    font-size: 70px;
    line-height: 84px;
  }
  @include lg{
    padding-top: 153px;
    padding-bottom: 160px;
    font-size: 140px;
    line-height: 164px;
  }
  @include xxl{
    padding-top: 173px;
    padding-bottom: 160px;
    font-size: 140px;
    line-height: 164px;
  }
  
}
</style>
