<template>
  <div id="term" class="bg-white">
    <div class="container">
      <div class="mt-5 mb-5 pb-5" v-html="terms"></div>
    </div>
  </div>
</template>


<script>

export default {
  name: "Term",
  props: {
    msg: String,
    terms: String,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
#term {
  min-height: 95vh;
  padding-top: 100px;
}
p{
  
}
</style>
