<template>
<!-- <vuescroll>
</vuescroll> -->
  <router-view />

</template>

<script>
import AOS from 'aos'
/* import vuescroll from 'vuescroll'; */

export default {
  /* components: {
      vuescroll
  }, */
  name: 'App',
  created() {
    console.log("app created")
    AOS.init()
  }
}
</script>

<style>
#app {
  background: #212945;
  /* font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px; */
}
</style>
