<template>
  <!-- <Main msg="."/> -->
  <div class="container-fluid allContainer p-0">
    <Navbar
      :resources="content.menu.resources"
      :partner="content.menu.partner"
      :contact="content.menu.contact"
      :download="content.menu.download"
    />
    <Hero
      :title="content.hero.title"
      :url="content.hero.url"
      :speechBalloons="content.hero.speechBalloons"
      :btnText="content.hero.btnText"
    />
    <Stayon
      :heading1="content.stayon.heading1"
      :heading2="content.stayon.heading2"
      :heading3="content.stayon.heading3"
      :heading4="require('./assets/logo-green.svg')"
    />
    <Recursos
      :title="content.recursos.title"
      :graph1="content.recursos.graphs[0]"
      :graph1Img="require('./assets/graph-1.png')"
      :graph2="content.recursos.graphs[1]"
      :graph2Img="require('./assets/graph-2.png')"
      :graph3="content.recursos.graphs[2]"
      :graph3Img="require('./assets/graph-3.png')"
      :graph4="content.recursos.graphs[3]"
      :graph4Img="require('./assets/graph-4.png')"
      :graph5="content.recursos.graphs[4]"
      :graph5Img="require('./assets/graph-5.png')"
    />
    <Downloads
      :title="content.download.title"
      :androidLink="content.download.androidLink"
      :iphoneLink="content.download.iphoneLink"/>
    <Parceria
      :title="content.parceria.title"
      :desc="content.parceria.desc"
      :downloadLink="content.parceria.folhetoDownloadLink"/>
    <Contato
      :title="content.contato.title"
      :sendBtn="content.contato.sendBtn"
      :formName="content.contato.formName"
      :formPhone="content.contato.formPhone"
      :formEmail="content.contato.formEmail"
      :formBody="content.contato.formBody"
      :sentMessage="content.contato.sentMessage"
      :legal="content.legal"
      :instagramLink="content.socials.instagram"
      :linkedinLink="content.socials.linkedin"
      :facebookLink="content.socials.facebook"/>
  </div>
</template>

<script>
/* import Main from './components/Main.vue' */
import Navbar from "./components/Navbar.vue";
import Hero from "./components/Hero.vue";
import Stayon from "./components/Stayon.vue";
import Recursos from "./components/Recursos.vue";
import Downloads from "./components/Downloads.vue";
import Parceria from "./components/Parceria.vue";
import Contato from "./components/Contato.vue";
import content from "./content-pt-br.json";
/* import Footer from './components/Footer.vue' */

export default {
  name: "Home",
  data() {
    return {
      content: content,
      terms:  "<h1>Políticas de Privacidade</h1> "+
              "<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quis a quam praesentium, soluta quasi. Tempore quia illo voluptatem suscipit tenetur corporis deleniti voluptate! Aliquid ut dicta doloribus aliquam natus. </p> "+
              "<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quis a quam praesentium, soluta quasi. Tempore quia illo voluptatem suscipit tenetur corporis deleniti voluptate! Aliquid ut dicta doloribus aliquam natus. </p> "+
              "<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quis a quam praesentium, soluta quasi. Tempore quia illo voluptatem suscipit tenetur corporis deleniti voluptate! Aliquid ut dicta doloribus aliquam </p> "+
              "<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quis a quam praesentium, soluta quasi. Tempore quia illo voluptatem suscipit tenetur corporis deleniti voluptate! Aliquid ut dicta doloribus aliquam natus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quis a quam praesentium, soluta quasi. Tempore quia illo voluptatem suscipit tenetur corporis deleniti voluptate! Aliquid ut dicta doloribus aliquam natus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quis a quam praesentium, soluta quasi. Tempore quia illo voluptatem suscipit tenetur corporis deleniti voluptate! Aliquid ut dicta doloribus aliquam natus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quis a quam praesentium, soluta quasi. Tempore quia illo voluptatem suscipit tenetur corporis deleniti voluptate! Aliquid ut dicta doloribus aliquam </p> "+
              "<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quis a quam praesentium, soluta quasi. Tempore quia illo voluptatem suscipit tenetur corporis deleniti voluptate! Aliquid ut dicta doloribus aliquam </p> "+
              "<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quis a quam praesentium, soluta quasi. Tempore quia illo voluptatem suscipit tenetur corporis deleniti voluptate! Aliquid ut dicta doloribus aliquam </p> "+
              "<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quis a quam praesentium, soluta quasi. Tempore quia illo voluptatem suscipit tenetur corporis deleniti voluptate! Aliquid ut dicta doloribus aliquam </p> "+
              "<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quis a quam praesentium, soluta quasi. Tempore quia illo voluptatem suscipit tenetur corporis deleniti voluptate! Aliquid ut dicta doloribus aliquam natus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quis a quam praesentium, soluta quasi. Tempore quia illo voluptatem suscipit tenetur corporis deleniti voluptate! Aliquid ut dicta doloribus aliquam natus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quis a quam praesentium, soluta quasi. Tempore quia illo voluptatem suscipit tenetur corporis deleniti voluptate! Aliquid ut dicta doloribus aliquam natus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quis a quam praesentium, soluta quasi. Tempore quia illo voluptatem suscipit tenetur corporis deleniti voluptate! Aliquid ut dicta doloribus aliquam natus.</p>"
    };
  },
  components: {
    Navbar,
    Hero,
    Stayon,
    Recursos,
    Parceria,
    Contato,
    Downloads,
    /* Footer */
  },
};
</script>

<style scoped lang="scss">
.allContainer {
}
</style>
