<template>
  <!-- <Main msg="."/> -->
  <NavbarExternal/>
  <Term :terms="content.terms"/>
  <Footer/>
</template>

<script>
/* import Main from './components/Main.vue' */
import NavbarExternal from './components/NavbarExternal.vue'
import Term from './components/Term.vue'
import Footer from './components/Footer.vue'
import content from "./content-pt-br.json";


export default {
  name: 'Terms',
    data() {
    return {
      content: content,
    };
  },
  components: {
    NavbarExternal,
    Term,
    Footer
  },
}
</script>

